@media screen and (max-width: 580px) {
  .nav-item{
    width: 100%;
  }
}

@media screen and (min-width: 580px) {
  .nav-item{
    width: 50%;
  }
}

ul{
  width: 100%;
}

li {
  display: flex;
  justify-content: center;
}
